# results
nc/
nc_test/
nc_test*/
baseline/
home_pc/
Test_MCREC/
Test_MCR/
**/
model_config.yaml
**/*.out
*.pk
**/*.log
**/*.ipynb
Check_model.ipynb
Check_instrument.ipynb
lorentzian_peaks_random_colors.png
tensor_baseline_plot.png
tensor_line_plot.png
out.log
output.log
# run.py
!.gitignore


